<aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a target="_blank">
        <img src="http://lorempixel.com/150/150/people/" class="hoverZoomLink">
      </a>
  
      <!-- the username -->
      <h1>
              Welcome!
            </h1>
  
      <!-- and role or location -->
      <h2>
              {{loginname}}
            </h2>
  
    </header>
  
    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">
  
      <p>
       We hope you are having a good day! <br> please review the available options from sidebar..
      </p>
  
    </div>
  
    <!-- some social links to show off -->
   
  </aside>