.dabba{
  display: flex;

}
.e-card{
  min-width: 300px;
  max-width: 400px;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 15px;
}
.example-header-image {
  display: flex;
  background-color:#2d2b2a;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.videoplayer{
  height: 50%;
}
.d1{
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}