.example {
    height: 100%;
 

  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF);
  }
.i{

    position:absolute;
    top:0;
    right:0;
    padding: 15px;
    border-radius: 10px;
    }
.c{
  
    height: 100%;
}
.example-card {
    max-width: 400px;
    margin: 10px;
   
  }
  
.side{
  background-color:whitesmoke;
  border-radius: 10px;
  margin: 2px;
}
.am{
  
    text-align: center;
    height: 100%;
}
