<div class="d1" *ngIf="record.length === 0">
  <mat-spinner></mat-spinner>
</div>
<div class="hh" *ngIf="record.length !== 0">
  <!-- <form action="" class="search-bar" (submit)="value()">
    <input
      type="search"
      [ngModelOptions]="{ standalone: true }"
      required
      id="search1"
      value=""
      placeholder="Search by Date"
      [(ngModel)]="uname"
    />
    <button class="search-btn" type="submit">
      <span>Search</span>
    </button>
  </form> -->
  <form class="search" (submit)="value()">
    <div class="a-field search__field">
      <input
        type="text"
        id="query"
        [(ngModel)]="uname"
        [ngModelOptions]="{ standalone: true }"
        class="r-text-field a-field__input search__input"
        placeholder="Eg. 23-Jan-2020"
        required
      />
      <button
        class="r-button search__button search__clear"
        type="reset"
        (click)="uname = ''"
      >
        <span class="search__clear-label">Clear the search form</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 47.971 47.971"
          class="search__icon search__icon-clear"
        >
          <path
            d="M28.228 23.986L47.092 5.122a2.998 2.998 0 0 0 0-4.242 2.998 2.998 0 0 0-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 1 0 4.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 0 0 0-4.242L28.228 23.986z"
          />
        </svg>
      </button>
      <label class="a-field__label-wrap search__hint" for="query">
        <span class="a-field__label">Search by date</span>
      </label>
    </div>
    <button class="r-button search__button search__submit" type="submit">
      <span class="search__submit-label">Search</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 56.966 56.966"
        class="search__icon search__icon-search"
      >
        <path
          d="M55.146 51.887L41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z"
        />
      </svg>
    </button>
  </form>
</div>
<div class="dabba">
  <mat-card class="e-card" *ngFor="let r of record.result; let i = index">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <span style="font-size: medium; color: aliceblue">{{ i + 1 }}</span>
      </div>
      <mat-card-title>Culprits Indentified: {{ r.culprits }}</mat-card-title>
      <mat-card-subtitle>Video</mat-card-subtitle>
    </mat-card-header>
    <div style="height: 350px; margin: 10px">
      <!-- <mat-video
        src="http://localhost:3000/users/record/stream/{{ r._id }}"
        class="videoplayer"
        [overlay]="false"
      ></mat-video> -->
      <mat-video
        src="http://localhost:5000/uploads/{{ r.video }}"
        type="video/mp4"
      ></mat-video>
    </div>
    <mat-card-content>
      <ul>
        <li>Date Captured: {{ r.date }}</li>
        <li>Time Captured: {{ r.time }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="opensheet(r.image)">
        View Images
      </button>
      <button
        mat-button
        style="position: absolute; right: 0"
        (click)="deletecard(r._id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
